# Analysis of Cell Phone Reviews

***************************************************

## Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing and cleaning the dataset

In [2]:
df = pd.read_csv('data/20191226-reviews.csv')

In [3]:
df.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0

In [4]:
df.shape

(67986, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67986 entries, 0 to 67985
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   asin          67986 non-null  object
 1   name          67984 non-null  object
 2   rating        67986 non-null  int64
 3   date          67986 non-null  object
 4   verified      67986 non-null  bool
 5   title         67972 non-null  object
 6   body          67965 non-null  object
 7   helpfulVotes  27215 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 3.7+ MB

In [6]:
df.isnull().sum()

asin                0
name                2
rating              0
date                0
verified            0
title              14
body               21
helpfulVotes    40771
dtype: int64

- We have $14$ null values in the rating column of our dataset.
- We have to drop the null values.

In [7]:
title_miss = df[df.title.isnull()]

In [8]:
title_miss

,asin,name,rating,date,verified,title,body,helpfulVotes
30010,B01NB1KG8U,Sylvester Ofosuhene,5,"December 24, 2019",True,NaN,NaN,NaN
30949,B06XR1K6HR,MOHAMED ALI,5,"January 17, 2019",True,NaN,Almost like pretty new,NaN
32883,B06XSF5C42,Candice,5,"June 13, 2019",True,NaN,Love this phone. Everything's worked great. So...,NaN
35016,B071H9KKKF,Wauany,5,"June 17, 2018",True,NaN,Like the phone so far!!! Never had an expensiv...,NaN
42935,B077T4MVZ6,Evaldina,4,"November 14, 2018",True,NaN,Love it,NaN
45899,B079X7DQ4Q,Roberto,5,"November 25, 2019",True,NaN,NaN,NaN
45905,B079X7DQ4Q,Mahmood al rahawi,5,"December 7, 2018",True,NaN,"I get that phone I needed ,, thanks .",NaN
46470,B07BHT4KGM,Roberto,5,"November 25, 2019",True,NaN,NaN,NaN
46476,B07BHT4KGM,Mahmood al rahawi,5,"December 7, 2018",True,NaN,"I get that phone I needed ,, thanks .",NaN
50404,B07FZH9BGV,Henry,5,"November 1, 2018",True,NaN,Great phone...A++,1.0
58439,B07NZXXZB2,RRaRay,5,"July 3, 2019",True,NaN,It was s good purchase,NaN
61074,B07Q84DPZH,Lee,5,"November 29, 2019",True,NaN,NaN,NaN
61329,B07Q84DPZH,Janice B.,5,"June 29, 2019",True,NaN,It was okay no dislikes yet,NaN
64371,B07V5KS95Y,Viet Nguyen,5,"December 22, 2019",True,NaN,NaN,NaN

In [9]:
title_miss[['rating', 'title', 'body']]

       rating title                                               body
30010       5   NaN                                                NaN
30949       5   NaN                             Almost like pretty new
32883       5   NaN  Love this phone. Everything's worked great. So...
35016       5   NaN  Like the phone so far!!! Never had an expensiv...
42935       4   NaN                                            Love it
45899       5   NaN                                                NaN
45905       5   NaN              I get that phone I needed ,, thanks .
46470       5   NaN                                                NaN
46476       5   NaN              I get that phone I needed ,, thanks .
50404       5   NaN                                  Great phone...A++
58439       5   NaN                             It was s good purchase
61074       5   NaN                                                NaN
61329       5   NaN                        It was okay no dislikes yet
64371       5   NaN                                                NaN

- If we closely look, we can find that all the **missing titles** are associated with very high rating in the *rating* column.
- The *body* column for each of the **missing titles** also suggest that the customers are satisfied with the purchase.

> So it is safe to say that missing titles can be associated with high rating.<br>
> However, we cannot use missing titles to train our model so we have to drop the missing titles.

In [10]:
dataset = df[~df.title.isnull()]

In [11]:
dataset.reset_index(inplace = True)

In [12]:
dataset.isnull().sum()

index               0
asin                0
name                2
rating              0
date                0
verified            0
title               0
body               16
helpfulVotes    40758
dtype: int64

Now we can see that the dataset does not contain any missing **title** values.

- Now we can choose the *Independent* and *Dependent* variables.
- We can use the *title* column as our **Reviews**(*independent variable*) and <br> *rating* columns as our **Rating**(*dependent variables*)

In [13]:
reviews = dataset.title
ratings = dataset.rating

- If the rating is $\gt=3$ then it is a positive rating, else it is a negative rating.

In [14]:
ratings = np.where(ratings >= 3, 1, 0)

In [15]:
dataset.shape

(67972, 9)

In [16]:
reviews.head()

0                     Def not best, but not worst
1                     Text Messaging Doesn't Work
2                                 Love This Phone
3                         Love the Phone, BUT...!
4    Great phone service and options, lousy case!
Name: title, dtype: object

 ## Text Preprocessing

### Import required libraries

In [17]:
import nltk #Natural Language Toolkit library
from nltk.corpus import stopwords #Library to remove stopwords
from nltk.stem.porter import PorterStemmer #Library to stem words
import re

In [18]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Aditya
[nltk_data]     Dash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
ps = PorterStemmer()

In [20]:
m = len(reviews)

In [21]:
data = []
for i in range(m):
    review = reviews[i]
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if word not in set(stopwords.words('english'))]
    review = ' '.join(review)
    data.append(review)

### Creating bag of words model

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cv = CountVectorizer()

In [24]:
X = cv.fit_transform(data).toarray()

## Creating train and test set

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, ratings.ravel(), test_size = 0.25, random_state = 42)

In [27]:
max_features = X.shape[-1]

In [28]:
max_features

6984

# Model Building

## Libraries to build model

In [29]:
import tensorflow.keras as keras

In [51]:
model = keras.Sequential() #Model Instantiation

In [52]:
model.add(keras.layers.Input(shape = (max_features,))) #Input Layer

In [53]:
model.add(keras.layers.Dense(units = 200, activation = 'relu')) #Hidden Layer
model.add(keras.layers.Dropout(rate = 0.8))

WARNING:tensorflow:Large dropout rate: 0.8 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.

In [54]:
model.add(keras.layers.Dense(units = 1, activation = 'sigmoid')) #Output Layer

In [55]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [56]:
model_checkpoint = keras.callbacks.ModelCheckpoint('sentiment.h5', save_best_only = True)

In [57]:
history = model.fit(X_train, y_train, batch_size = 32, epochs = 100, validation_split = 0.2, callbacks = [model_checkpoint])

Train on 40783 samples, validate on 10196 samples
Epoch 1/100
WARNING:tensorflow:Large dropout rate: 0.8 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
40783/40783 [==============================] - 6s 149us/sample - loss: 0.3654 - accuracy: 0.8378 - val_loss: 0.3130 - val_accuracy: 0.8668
Epoch 2/100
40783/40783 [==============================] - 6s 136us/sample - loss: 0.2983 - accuracy: 0.8749 - val_loss: 0.3078 - val_accuracy: 0.8699
Epoch 3/100
40783/40783 [==============================] - 5s 134us/sample - loss: 0.2810 - accuracy: 0.8840 - val_loss: 0.3078 - val_accuracy: 0.8680
Epoch 4/100
40783/40783 [==============================] - 6s 136us/sample - loss: 0.2706 - accuracy: 0.8901 - val_loss: 0.3080 - val_accuracy: 0.8700
Epoch 5/100
40783/40783 [==============================] - 6s 143us/sample - loss: 0.2585 - accuracy: 0.8967 - val_loss: 0.3089 - val_accuracy: 0.8705
Epoch 6/100
40783/40783 [==============================] - 6s 143us/sample - loss: 0.2504 - accuracy: 0.8990 - val_loss: 0.3117 - val_accuracy: 0.8707
Epoch 7/100
40783/40783 [==============================] - 6s 136us/sample - loss: 0.2463 - accuracy: 0.9016 - val_loss: 0.3137 - val_accuracy: 0.8728
Epoch 8/100
40783/40783 [==============================] - 6s 148us/sample - loss: 0.2406 - accuracy: 0.9054 - val_loss: 0.3160 - val_accuracy: 0.8740
Epoch 9/100
40783/40783 [==============================] - 6s 148us/sample - loss: 0.2385 - accuracy: 0.9060 - val_loss: 0.3166 - val_accuracy: 0.8750
Epoch 10/100
40783/40783 [==============================] - 6s 155us/sample - loss: 0.2312 - accuracy: 0.9097 - val_loss: 0.3223 - val_accuracy: 0.8749
Epoch 11/100
40783/40783 [==============================] - 6s 149us/sample - loss: 0.2271 - accuracy: 0.9098 - val_loss: 0.3218 - val_accuracy: 0.8750
Epoch 12/100
40783/40783 [==============================] - 6s 154us/sample - loss: 0.2221 - accuracy: 0.9140 - val_loss: 0.3252 - val_accuracy: 0.8752
Epoch 13/100
40783/40783 [==============================] - 6s 143us/sample - loss: 0.2200 - accuracy: 0.9128 - val_loss: 0.3288 - val_accuracy: 0.8731
Epoch 14/100
40783/40783 [==============================] - 6s 143us/sample - loss: 0.2158 - accuracy: 0.9163 - val_loss: 0.3298 - val_accuracy: 0.8753
Epoch 15/100
40783/40783 [==============================] - 6s 146us/sample - loss: 0.2124 - accuracy: 0.9174 - val_loss: 0.3350 - val_accuracy: 0.8736
Epoch 16/100
40783/40783 [==============================] - 6s 151us/sample - loss: 0.2109 - accuracy: 0.9192 - val_loss: 0.3378 - val_accuracy: 0.8743
Epoch 17/100
40783/40783 [==============================] - 6s 135us/sample - loss: 0.2086 - accuracy: 0.9197 - val_loss: 0.3422 - val_accuracy: 0.8752
Epoch 18/100
40783/40783 [==============================] - 6s 146us/sample - loss: 0.2067 - accuracy: 0.9197 - val_loss: 0.3436 - val_accuracy: 0.8756
Epoch 19/100
40783/40783 [==============================] - 6s 152us/sample - loss: 0.2027 - accuracy: 0.9224 - val_loss: 0.3500 - val_accuracy: 0.8750
Epoch 20/100
40783/40783 [==============================] - 6s 142us/sample - loss: 0.2023 - accuracy: 0.9216 - val_loss: 0.3484 - val_accuracy: 0.8748
Epoch 21/100
40783/40783 [==============================] - 6s 158us/sample - loss: 0.2007 - accuracy: 0.9226 - val_loss: 0.3530 - val_accuracy: 0.8760
Epoch 22/100
40783/40783 [==============================] - 6s 156us/sample - loss: 0.1962 - accuracy: 0.9237 - val_loss: 0.3561 - val_accuracy: 0.8747
Epoch 23/100
40783/40783 [==============================] - 6s 147us/sample - loss: 0.1936 - accuracy: 0.9249 - val_loss: 0.3606 - val_accuracy: 0.8752
Epoch 24/100
40783/40783 [==============================] - 6s 140us/sample - loss: 0.1928 - accuracy: 0.9261 - val_loss: 0.3644 - val_accuracy: 0.8758
Epoch 25/100
40783/40783 [==============================] - 5s 132us/sample - loss: 0.1919 - accuracy: 0.9276 - val_loss: 0.3670 - val_accuracy: 0.8743
Epoch 26/100
40783/40783 [==============================] - 6s 136us/sample - loss: 0.1907 - accuracy: 0.9276 - val_loss: 0.3708 - val_accuracy: 0.8760
Epoch 27/100
40783/40783 [==============================] - 5s 135us/sample - loss: 0.1888 - accuracy: 0.9283 - val_loss: 0.3757 - val_accuracy: 0.8756
Epoch 28/100
40783/40783 [==============================] - 6s 139us/sample - loss: 0.1856 - accuracy: 0.9287 - val_loss: 0.3789 - val_accuracy: 0.8760
Epoch 29/100
40783/40783 [==============================] - 6s 136us/sample - loss: 0.1838 - accuracy: 0.9306 - val_loss: 0.3810 - val_accuracy: 0.8757
Epoch 30/100
40783/40783 [==============================] - 5s 130us/sample - loss: 0.1837 - accuracy: 0.9295 - val_loss: 0.3836 - val_accuracy: 0.8760
Epoch 31/100
40783/40783 [==============================] - 6s 144us/sample - loss: 0.1823 - accuracy: 0.9295 - val_loss: 0.3855 - val_accuracy: 0.8755
Epoch 32/100
40783/40783 [==============================] - 6s 136us/sample - loss: 0.1806 - accuracy: 0.9308 - val_loss: 0.3919 - val_accuracy: 0.8767
Epoch 33/100
40783/40783 [==============================] - 6s 138us/sample - loss: 0.1766 - accuracy: 0.9325 - val_loss: 0.3915 - val_accuracy: 0.8762
Epoch 34/100
40783/40783 [==============================] - 6s 147us/sample - loss: 0.1782 - accuracy: 0.9314 - val_loss: 0.3978 - val_accuracy: 0.8754
Epoch 35/100
40783/40783 [==============================] - 6s 148us/sample - loss: 0.1765 - accuracy: 0.9325 - val_loss: 0.4013 - val_accuracy: 0.8752
Epoch 36/100
40783/40783 [==============================] - 5s 133us/sample - loss: 0.1752 - accuracy: 0.9334 - val_loss: 0.4031 - val_accuracy: 0.8752
Epoch 37/100
40783/40783 [==============================] - 6s 141us/sample - loss: 0.1734 - accuracy: 0.9335 - val_loss: 0.4059 - val_accuracy: 0.8765
Epoch 38/100
40783/40783 [==============================] - 6s 150us/sample - loss: 0.1723 - accuracy: 0.9337 - val_loss: 0.4134 - val_accuracy: 0.8769
Epoch 39/100
40783/40783 [==============================] - 5s 134us/sample - loss: 0.1699 - accuracy: 0.9359 - val_loss: 0.4192 - val_accuracy: 0.8755
Epoch 40/100
40783/40783 [==============================] - 6s 153us/sample - loss: 0.1702 - accuracy: 0.9343 - val_loss: 0.4160 - val_accuracy: 0.8760
Epoch 41/100
40783/40783 [==============================] - 6s 144us/sample - loss: 0.1713 - accuracy: 0.9354 - val_loss: 0.4194 - val_accuracy: 0.8759
Epoch 42/100
40783/40783 [==============================] - 6s 148us/sample - loss: 0.1695 - accuracy: 0.9355 - val_loss: 0.4259 - val_accuracy: 0.8765
Epoch 43/100
40783/40783 [==============================] - 6s 145us/sample - loss: 0.1676 - accuracy: 0.9359 - val_loss: 0.4264 - val_accuracy: 0.8764
Epoch 44/100
40783/40783 [==============================] - 6s 137us/sample - loss: 0.1661 - accuracy: 0.9356 - val_loss: 0.4314 - val_accuracy: 0.8767
Epoch 45/100
40783/40783 [==============================] - 6s 150us/sample - loss: 0.1634 - accuracy: 0.9375 - val_loss: 0.4362 - val_accuracy: 0.8760
Epoch 46/100
40783/40783 [==============================] - 6s 152us/sample - loss: 0.1655 - accuracy: 0.9375 - val_loss: 0.4399 - val_accuracy: 0.8755
Epoch 47/100
40783/40783 [==============================] - 6s 145us/sample - loss: 0.1635 - accuracy: 0.9376 - val_loss: 0.4413 - val_accuracy: 0.8748
Epoch 48/100
40783/40783 [==============================] - 6s 138us/sample - loss: 0.1627 - accuracy: 0.9373 - val_loss: 0.4405 - val_accuracy: 0.8757
Epoch 49/100
40783/40783 [==============================] - 6s 145us/sample - loss: 0.1608 - accuracy: 0.9400 - val_loss: 0.4502 - val_accuracy: 0.8746
Epoch 50/100
40783/40783 [==============================] - 6s 141us/sample - loss: 0.1599 - accuracy: 0.9389 - val_loss: 0.4540 - val_accuracy: 0.8757
Epoch 51/100
40783/40783 [==============================] - 6s 143us/sample - loss: 0.1585 - accuracy: 0.9400 - val_loss: 0.4597 - val_accuracy: 0.8758
Epoch 52/100
40783/40783 [==============================] - 6s 144us/sample - loss: 0.1595 - accuracy: 0.9402 - val_loss: 0.4597 - val_accuracy: 0.8761
Epoch 53/100

40783/40783 [==============================] - 6s 138us/sample - loss: 0.1583 - accuracy: 0.9396 - val_loss: 0.4659 - val_accuracy: 0.8751
Epoch 54/100
40783/40783 [==============================] - 5s 135us/sample - loss: 0.1568 - accuracy: 0.9398 - val_loss: 0.4653 - val_accuracy: 0.8753
Epoch 55/100
40783/40783 [==============================] - 6s 135us/sample - loss: 0.1585 - accuracy: 0.9396 - val_loss: 0.4646 - val_accuracy: 0.8747
Epoch 56/100
40783/40783 [==============================] - 6s 138us/sample - loss: 0.1586 - accuracy: 0.9396 - val_loss: 0.4722 - val_accuracy: 0.8747
Epoch 57/100
40783/40783 [==============================] - 6s 141us/sample - loss: 0.1559 - accuracy: 0.9417 - val_loss: 0.4764 - val_accuracy: 0.8743
Epoch 58/100
40783/40783 [==============================] - 6s 140us/sample - loss: 0.1540 - accuracy: 0.9415 - val_loss: 0.4812 - val_accuracy: 0.8746
Epoch 59/100
40783/40783 [==============================] - 8s 184us/sample - loss: 0.1557 - accuracy: 0.9406 - val_loss: 0.4805 - val_accuracy: 0.8746
Epoch 60/100
40783/40783 [==============================] - 6s 142us/sample - loss: 0.1557 - accuracy: 0.9414 - val_loss: 0.4837 - val_accuracy: 0.8742
Epoch 61/100
40783/40783 [==============================] - 6s 141us/sample - loss: 0.1532 - accuracy: 0.9413 - val_loss: 0.4904 - val_accuracy: 0.8748
Epoch 62/100
40783/40783 [==============================] - 6s 157us/sample - loss: 0.1521 - accuracy: 0.9428 - val_loss: 0.4905 - val_accuracy: 0.8750
Epoch 63/100
40783/40783 [==============================] - 6s 152us/sample - loss: 0.1535 - accuracy: 0.9424 - val_loss: 0.4905 - val_accuracy: 0.8741
Epoch 64/100
40783/40783 [==============================] - 6s 156us/sample - loss: 0.1526 - accuracy: 0.9425 - val_loss: 0.4916 - val_accuracy: 0.8747
Epoch 65/100
40783/40783 [==============================] - 6s 150us/sample - loss: 0.1511 - accuracy: 0.9424 - val_loss: 0.4964 - val_accuracy: 0.8753
Epoch 66/100
40783/40783 [==============================] - 6s 150us/sample - loss: 0.1512 - accuracy: 0.9418 - val_loss: 0.5032 - val_accuracy: 0.8741
Epoch 67/100
40783/40783 [==============================] - 6s 142us/sample - loss: 0.1529 - accuracy: 0.9428 - val_loss: 0.5026 - val_accuracy: 0.8735
Epoch 68/100
40783/40783 [==============================] - 6s 158us/sample - loss: 0.1504 - accuracy: 0.9417 - val_loss: 0.5070 - val_accuracy: 0.8738
Epoch 69/100
40783/40783 [==============================] - 6s 152us/sample - loss: 0.1515 - accuracy: 0.9424 - val_loss: 0.5141 - val_accuracy: 0.8739
Epoch 70/100
40783/40783 [==============================] - 6s 141us/sample - loss: 0.1504 - accuracy: 0.9426 - val_loss: 0.5154 - val_accuracy: 0.8750
Epoch 71/100
40783/40783 [==============================] - 6s 146us/sample - loss: 0.1479 - accuracy: 0.9438 - val_loss: 0.5195 - val_accuracy: 0.8748
Epoch 72/100
40783/40783 [==============================] - 6s 138us/sample - loss: 0.1485 - accuracy: 0.9439 - val_loss: 0.5197 - val_accuracy: 0.8748
Epoch 73/100
40783/40783 [==============================] - 6s 149us/sample - loss: 0.1506 - accuracy: 0.9424 - val_loss: 0.5239 - val_accuracy: 0.8744
Epoch 74/100
40783/40783 [==============================] - 6s 148us/sample - loss: 0.1487 - accuracy: 0.9428 - val_loss: 0.5247 - val_accuracy: 0.8738
Epoch 75/100
40783/40783 [==============================] - 6s 146us/sample - loss: 0.1461 - accuracy: 0.9441 - val_loss: 0.5283 - val_accuracy: 0.8748
Epoch 76/100
40783/40783 [==============================] - 6s 146us/sample - loss: 0.1480 - accuracy: 0.9444 - val_loss: 0.5284 - val_accuracy: 0.8750
Epoch 77/100
40783/40783 [==============================] - 6s 149us/sample - loss: 0.1468 - accuracy: 0.9449 - val_loss: 0.5331 - val_accuracy: 0.8742
Epoch 78/100
40783/40783 [==============================] - 5s 134us/sample - loss: 0.1436 - accuracy: 0.9451 - val_loss: 0.5409 - val_accuracy: 0.8750
Epoch 79/100
40783/40783 [==============================] - 5s 134us/sample - loss: 0.1461 - accuracy: 0.9450 - val_loss: 0.5492 - val_accuracy: 0.8746
Epoch 80/100
40783/40783 [==============================] - 5s 128us/sample - loss: 0.1446 - accuracy: 0.9453 - val_loss: 0.5435 - val_accuracy: 0.8747
Epoch 81/100
40783/40783 [==============================] - 5s 131us/sample - loss: 0.1432 - accuracy: 0.9455 - val_loss: 0.5464 - val_accuracy: 0.8730
Epoch 82/100
40783/40783 [==============================] - 5s 131us/sample - loss: 0.1446 - accuracy: 0.9451 - val_loss: 0.5506 - val_accuracy: 0.8746
Epoch 83/100
40783/40783 [==============================] - 6s 138us/sample - loss: 0.1431 - accuracy: 0.9462 - val_loss: 0.5535 - val_accuracy: 0.8736
Epoch 84/100
40783/40783 [==============================] - 6s 144us/sample - loss: 0.1448 - accuracy: 0.9452 - val_loss: 0.5552 - val_accuracy: 0.8744
Epoch 85/100
40783/40783 [==============================] - 6s 139us/sample - loss: 0.1444 - accuracy: 0.9448 - val_loss: 0.5573 - val_accuracy: 0.8739
Epoch 86/100
40783/40783 [==============================] - 6s 139us/sample - loss: 0.1455 - accuracy: 0.9451 - val_loss: 0.5554 - val_accuracy: 0.8734
Epoch 87/100
40783/40783 [==============================] - 6s 147us/sample - loss: 0.1437 - accuracy: 0.9453 - val_loss: 0.5608 - val_accuracy: 0.8745
Epoch 88/100
40783/40783 [==============================] - 6s 143us/sample - loss: 0.1434 - accuracy: 0.9466 - val_loss: 0.5710 - val_accuracy: 0.8733
Epoch 89/100
40783/40783 [==============================] - 6s 140us/sample - loss: 0.1416 - accuracy: 0.9467 - val_loss: 0.5751 - val_accuracy: 0.8724
Epoch 90/100
40783/40783 [==============================] - 6s 140us/sample - loss: 0.1417 - accuracy: 0.9463 - val_loss: 0.5752 - val_accuracy: 0.8729
Epoch 91/100
40783/40783 [==============================] - 6s 145us/sample - loss: 0.1441 - accuracy: 0.9453 - val_loss: 0.5760 - val_accuracy: 0.8736
Epoch 92/100
40783/40783 [==============================] - 6s 141us/sample - loss: 0.1434 - accuracy: 0.9465 - val_loss: 0.5792 - val_accuracy: 0.8750
Epoch 93/100
40783/40783 [==============================] - 6s 138us/sample - loss: 0.1427 - accuracy: 0.9455 - val_loss: 0.5802 - val_accuracy: 0.8734
Epoch 94/100
40783/40783 [==============================] - 5s 130us/sample - loss: 0.1424 - accuracy: 0.9461 - val_loss: 0.5813 - val_accuracy: 0.8729
Epoch 95/100
40783/40783 [==============================] - 5s 125us/sample - loss: 0.1397 - accuracy: 0.9471 - val_loss: 0.5887 - val_accuracy: 0.8733
Epoch 96/100
40783/40783 [==============================] - 5s 134us/sample - loss: 0.1411 - accuracy: 0.9464 - val_loss: 0.5868 - val_accuracy: 0.8744
Epoch 97/100
40783/40783 [==============================] - 6s 144us/sample - loss: 0.1389 - accuracy: 0.9467 - val_loss: 0.5894 - val_accuracy: 0.8743
Epoch 98/100
40783/40783 [==============================] - 6s 140us/sample - loss: 0.1379 - accuracy: 0.9479 - val_loss: 0.6009 - val_accuracy: 0.8736
Epoch 99/100
40783/40783 [==============================] - 6s 144us/sample - loss: 0.1421 - accuracy: 0.9468 - val_loss: 0.5929 - val_accuracy: 0.8746
Epoch 100/100
40783/40783 [==============================] - 6s 143us/sample - loss: 0.1392 - accuracy: 0.9474 - val_loss: 0.6065 - val_accuracy: 0.8750

In [58]:
model.evaluate(X_test, y_test)

16993/16993 [==============================] - 2s 102us/sample - loss: 0.6160 - accuracy: 0.8772

[0.6160465055736323, 0.87718475]

In [59]:
best = keras.models.load_model('sentiment.h5')

In [60]:
best.evaluate(X_test, y_test)

16993/16993 [==============================] - 2s 89us/sample - loss: 0.2992 - accuracy: 0.8741

[0.29922819589308264, 0.87412465]

## Save CountVectorizer object

In [61]:
import pickle

In [62]:
with open('countvectorizer', 'wb') as fout:
    pickle.dump(cv, fout)