# Analysis of Cell Phone Reviews

***************************************************

## Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing and cleaning the dataset

In [2]:
df = pd.read_csv('data/20191226-reviews.csv')

In [3]:
df.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0

In [4]:
df.shape

(67986, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67986 entries, 0 to 67985
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   asin          67986 non-null  object
 1   name          67984 non-null  object
 2   rating        67986 non-null  int64
 3   date          67986 non-null  object
 4   verified      67986 non-null  bool
 5   title         67972 non-null  object
 6   body          67965 non-null  object
 7   helpfulVotes  27215 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 3.7+ MB

In [6]:
df.isnull().sum()

asin                0
name                2
rating              0
date                0
verified            0
title              14
body               21
helpfulVotes    40771
dtype: int64

- We have $14$ null values in the rating column of our dataset.
- We have to drop the null values.

In [7]:
title_miss = df[df.title.isnull()]

In [8]:
title_miss

,asin,name,rating,date,verified,title,body,helpfulVotes
30010,B01NB1KG8U,Sylvester Ofosuhene,5,"December 24, 2019",True,NaN,NaN,NaN
30949,B06XR1K6HR,MOHAMED ALI,5,"January 17, 2019",True,NaN,Almost like pretty new,NaN
32883,B06XSF5C42,Candice,5,"June 13, 2019",True,NaN,Love this phone. Everything's worked great. So...,NaN
35016,B071H9KKKF,Wauany,5,"June 17, 2018",True,NaN,Like the phone so far!!! Never had an expensiv...,NaN
42935,B077T4MVZ6,Evaldina,4,"November 14, 2018",True,NaN,Love it,NaN
45899,B079X7DQ4Q,Roberto,5,"November 25, 2019",True,NaN,NaN,NaN
45905,B079X7DQ4Q,Mahmood al rahawi,5,"December 7, 2018",True,NaN,"I get that phone I needed ,, thanks .",NaN
46470,B07BHT4KGM,Roberto,5,"November 25, 2019",True,NaN,NaN,NaN
46476,B07BHT4KGM,Mahmood al rahawi,5,"December 7, 2018",True,NaN,"I get that phone I needed ,, thanks .",NaN
50404,B07FZH9BGV,Henry,5,"November 1, 2018",True,NaN,Great phone...A++,1.0
58439,B07NZXXZB2,RRaRay,5,"July 3, 2019",True,NaN,It was s good purchase,NaN
61074,B07Q84DPZH,Lee,5,"November 29, 2019",True,NaN,NaN,NaN
61329,B07Q84DPZH,Janice B.,5,"June 29, 2019",True,NaN,It was okay no dislikes yet,NaN
64371,B07V5KS95Y,Viet Nguyen,5,"December 22, 2019",True,NaN,NaN,NaN

In [9]:
title_miss[['rating', 'title', 'body']]

       rating title                                               body
30010       5   NaN                                                NaN
30949       5   NaN                             Almost like pretty new
32883       5   NaN  Love this phone. Everything's worked great. So...
35016       5   NaN  Like the phone so far!!! Never had an expensiv...
42935       4   NaN                                            Love it
45899       5   NaN                                                NaN
45905       5   NaN              I get that phone I needed ,, thanks .
46470       5   NaN                                                NaN
46476       5   NaN              I get that phone I needed ,, thanks .
50404       5   NaN                                  Great phone...A++
58439       5   NaN                             It was s good purchase
61074       5   NaN                                                NaN
61329       5   NaN                        It was okay no dislikes yet
64371       5   NaN                                                NaN

- If we closely look, we can find that all the **missing titles** are associated with very high rating in the *rating* column.
- The *body* column for each of the **missing titles** also suggest that the customers are satisfied with the purchase.

> So it is safe to say that missing titles can be associated with high rating.<br>
> However, we cannot use missing titles to train our model so we have to drop the missing titles.

In [10]:
dataset = df[~df.title.isnull()]

In [11]:
dataset.reset_index(inplace = True)

In [12]:
dataset.isnull().sum()

index               0
asin                0
name                2
rating              0
date                0
verified            0
title               0
body               16
helpfulVotes    40758
dtype: int64

Now we can see that the dataset does not contain any missing **title** values.

- Now we can choose the *Independent* and *Dependent* variables.
- We can use the *title* column as our **Reviews**(*independent variable*) and <br> *rating* columns as our **Rating**(*dependent variables*)

In [13]:
reviews = dataset.title
ratings = dataset.rating

- If the rating is $\gt=3$ then it is a positive rating, else it is a negative rating.

In [14]:
ratings = np.where(ratings >= 3, 1, 0)

In [15]:
dataset.shape

(67972, 9)

In [16]:
reviews.head()

0                     Def not best, but not worst
1                     Text Messaging Doesn't Work
2                                 Love This Phone
3                         Love the Phone, BUT...!
4    Great phone service and options, lousy case!
Name: title, dtype: object

 ## Text Preprocessing

### Import required libraries

In [17]:
import nltk #Natural Language Toolkit library
from nltk.corpus import stopwords #Library to remove stopwords
from nltk.stem.porter import PorterStemmer #Library to stem words
import re

In [18]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Aditya
[nltk_data]     Dash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
ps = PorterStemmer()

In [20]:
m = len(reviews)

In [21]:
data = []
for i in range(m):
    review = reviews[i]
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if word not in set(stopwords.words('english'))]
    review = ' '.join(review)
    data.append(review)

### Creating bag of words model

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cv = CountVectorizer(max_features = 100)

In [24]:
X = cv.fit_transform(data).toarray()

## Creating train and test set

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, ratings.ravel(), test_size = 0.25, random_state = 42)

# Model Building

## Libraries to build model

In [27]:
import tensorflow.keras as keras

In [38]:
model = keras.Sequential() #Model Instantiation

In [39]:
model.add(keras.layers.Input(shape = (100,))) #Input Layer

In [40]:
model.add(keras.layers.Dense(units = 200, activation = 'relu')) #Hidden Layer
model.add(keras.layers.Dense(units = 100, activation = 'relu'))

In [41]:
model.add(keras.layers.Dense(units = 1, activation = 'sigmoid')) #Output Layer

In [42]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [43]:
model_checkpoint = keras.callbacks.ModelCheckpoint('sentiment.h5', save_best_only = True)

In [44]:
history = model.fit(X_train, y_train, batch_size = 32, epochs = 50, validation_split = 0.2, callbacks = [model_checkpoint])

Train on 40783 samples, validate on 10196 samples
Epoch 1/50
40783/40783 [==============================] - 4s 86us/sample - loss: 0.3747 - accuracy: 0.8180 - val_loss: 0.3623 - val_accuracy: 0.8269
Epoch 2/50
40783/40783 [==============================] - 3s 76us/sample - loss: 0.3524 - accuracy: 0.8301 - val_loss: 0.3579 - val_accuracy: 0.8291
Epoch 3/50
40783/40783 [==============================] - 3s 80us/sample - loss: 0.3463 - accuracy: 0.8324 - val_loss: 0.3570 - val_accuracy: 0.8289
Epoch 4/50
40783/40783 [==============================] - 3s 84us/sample - loss: 0.3420 - accuracy: 0.8337 - val_loss: 0.3575 - val_accuracy: 0.8291
Epoch 5/50
40783/40783 [==============================] - 4s 92us/sample - loss: 0.3373 - accuracy: 0.8372 - val_loss: 0.3572 - val_accuracy: 0.8270
Epoch 6/50
40783/40783 [==============================] - 3s 78us/sample - loss: 0.3328 - accuracy: 0.8386 - val_loss: 0.3587 - val_accuracy: 0.8272
Epoch 7/50
40783/40783 [==============================] - 4s 87us/sample - loss: 0.3288 - accuracy: 0.8413 - val_loss: 0.3601 - val_accuracy: 0.8291
Epoch 8/50
40783/40783 [==============================] - 3s 77us/sample - loss: 0.3240 - accuracy: 0.8422 - val_loss: 0.3666 - val_accuracy: 0.8265
Epoch 9/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.3210 - accuracy: 0.8445 - val_loss: 0.3719 - val_accuracy: 0.8255
Epoch 10/50
40783/40783 [==============================] - 3s 74us/sample - loss: 0.3181 - accuracy: 0.8460 - val_loss: 0.3740 - val_accuracy: 0.8250
Epoch 11/50
40783/40783 [==============================] - 3s 79us/sample - loss: 0.3151 - accuracy: 0.8478 - val_loss: 0.3813 - val_accuracy: 0.8257
Epoch 12/50
40783/40783 [==============================] - 3s 73us/sample - loss: 0.3127 - accuracy: 0.8493 - val_loss: 0.3778 - val_accuracy: 0.8269
Epoch 13/50
40783/40783 [==============================] - 3s 72us/sample - loss: 0.3099 - accuracy: 0.8502 - val_loss: 0.3867 - val_accuracy: 0.8279
Epoch 14/50
40783/40783 [==============================] - 3s 78us/sample - loss: 0.3079 - accuracy: 0.8505 - val_loss: 0.3923 - val_accuracy: 0.8258
Epoch 15/50
40783/40783 [==============================] - 3s 80us/sample - loss: 0.3060 - accuracy: 0.8515 - val_loss: 0.3978 - val_accuracy: 0.8288
Epoch 16/50
40783/40783 [==============================] - 3s 78us/sample - loss: 0.3043 - accuracy: 0.8521 - val_loss: 0.4076 - val_accuracy: 0.8232
Epoch 17/50
40783/40783 [==============================] - 3s 77us/sample - loss: 0.3030 - accuracy: 0.8524 - val_loss: 0.4102 - val_accuracy: 0.8264
Epoch 18/50
40783/40783 [==============================] - 3s 82us/sample - loss: 0.3007 - accuracy: 0.8534 - val_loss: 0.4243 - val_accuracy: 0.8237
Epoch 19/50
40783/40783 [==============================] - 4s 91us/sample - loss: 0.3001 - accuracy: 0.8533 - val_loss: 0.4182 - val_accuracy: 0.8230
Epoch 20/50
40783/40783 [==============================] - 3s 80us/sample - loss: 0.2982 - accuracy: 0.8548 - val_loss: 0.4334 - val_accuracy: 0.8243
Epoch 21/50
40783/40783 [==============================] - 3s 82us/sample - loss: 0.2976 - accuracy: 0.8543 - val_loss: 0.4244 - val_accuracy: 0.8257
Epoch 22/50
40783/40783 [==============================] - 3s 77us/sample - loss: 0.2964 - accuracy: 0.8556 - val_loss: 0.4381 - val_accuracy: 0.8241
Epoch 23/50
40783/40783 [==============================] - 3s 73us/sample - loss: 0.2949 - accuracy: 0.8556 - val_loss: 0.4450 - val_accuracy: 0.8241
Epoch 24/50
40783/40783 [==============================] - 3s 80us/sample - loss: 0.2948 - accuracy: 0.8555 - val_loss: 0.4528 - val_accuracy: 0.8241
Epoch 25/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2938 - accuracy: 0.8561 - val_loss: 0.4568 - val_accuracy: 0.8249
Epoch 26/50
40783/40783 [==============================] - 3s 74us/sample - loss: 0.2932 - accuracy: 0.8558 - val_loss: 0.4647 - val_accuracy: 0.8234
Epoch 27/50
40783/40783 [==============================] - 3s 76us/sample - loss: 0.2922 - accuracy: 0.8563 - val_loss: 0.4639 - val_accuracy: 0.8248
Epoch 28/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2914 - accuracy: 0.8567 - val_loss: 0.4661 - val_accuracy: 0.8253
Epoch 29/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2910 - accuracy: 0.8567 - val_loss: 0.4787 - val_accuracy: 0.8236
Epoch 30/50
40783/40783 [==============================] - 3s 76us/sample - loss: 0.2906 - accuracy: 0.8572 - val_loss: 0.4865 - val_accuracy: 0.8239
Epoch 31/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2901 - accuracy: 0.8573 - val_loss: 0.4873 - val_accuracy: 0.8244
Epoch 32/50
40783/40783 [==============================] - 3s 76us/sample - loss: 0.2903 - accuracy: 0.8570 - val_loss: 0.4953 - val_accuracy: 0.8212
Epoch 33/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2894 - accuracy: 0.8571 - val_loss: 0.4963 - val_accuracy: 0.8246
Epoch 34/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2895 - accuracy: 0.8571 - val_loss: 0.4870 - val_accuracy: 0.8242
Epoch 35/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2885 - accuracy: 0.8571 - val_loss: 0.4964 - val_accuracy: 0.8241
Epoch 36/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2882 - accuracy: 0.8570 - val_loss: 0.5075 - val_accuracy: 0.8250
Epoch 37/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2881 - accuracy: 0.8570 - val_loss: 0.5222 - val_accuracy: 0.8248
Epoch 38/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2880 - accuracy: 0.8573 - val_loss: 0.5200 - val_accuracy: 0.8246
Epoch 39/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2875 - accuracy: 0.8576 - val_loss: 0.5270 - val_accuracy: 0.8233
Epoch 40/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2874 - accuracy: 0.8571 - val_loss: 0.5132 - val_accuracy: 0.8244
Epoch 41/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2870 - accuracy: 0.8582 - val_loss: 0.5306 - val_accuracy: 0.8250
Epoch 42/50
40783/40783 [==============================] - 3s 76us/sample - loss: 0.2868 - accuracy: 0.8583 - val_loss: 0.5392 - val_accuracy: 0.8257
Epoch 43/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2864 - accuracy: 0.8577 - val_loss: 0.5441 - val_accuracy: 0.8261
Epoch 44/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2870 - accuracy: 0.8574 - val_loss: 0.5354 - val_accuracy: 0.8240
Epoch 45/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2867 - accuracy: 0.8581 - val_loss: 0.5693 - val_accuracy: 0.8246
Epoch 46/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2856 - accuracy: 0.8580 - val_loss: 0.5475 - val_accuracy: 0.8236
Epoch 47/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2863 - accuracy: 0.8577 - val_loss: 0.5682 - val_accuracy: 0.8252
Epoch 48/50
40783/40783 [==============================] - 3s 76us/sample - loss: 0.2855 - accuracy: 0.8577 - val_loss: 0.5676 - val_accuracy: 0.8251
Epoch 49/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2852 - accuracy: 0.8582 - val_loss: 0.5512 - val_accuracy: 0.8251
Epoch 50/50
40783/40783 [==============================] - 3s 75us/sample - loss: 0.2851 - accuracy: 0.8581 - val_loss: 0.5603 - val_accuracy: 0.8232

In [45]:
model.evaluate(X_test, y_test)

16993/16993 [==============================] - 1s 38us/sample - loss: 0.5204 - accuracy: 0.8273

[0.5203891938879125, 0.82728183]

In [46]:
best = keras.models.load_model('sentiment.h5')

In [47]:
best.evaluate(X_test, y_test)

16993/16993 [==============================] - 1s 41us/sample - loss: 0.3512 - accuracy: 0.8322

[0.3511639524397062, 0.8321662]